@using StarFood.Utility;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarFood</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>StarFood</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Bundle (incluye Popper.js y Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</head>

@await RenderSectionAsync("Scripts", required: false)
<body>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
 
@* @if (User.IsInRole(Roles.Admin_Role)) {}*@


    @Html.Partial("_SideBar")
        <div class="main-content" id="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

</body>
</html>


@section Scripts {
    <script src="~/js/_sidebar.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/_sidebar.js"></script>
}