@using StarFood.Utility
<!--NavBar-->
<div>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar-stock">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Category" asp-action="Index">Inventario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#" id="categorias-link"><i class="bi bi-list-task"></i><span>Categorías</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#" id="productos-link"><i class="bi bi-basket"></i><span>Producto</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#" id="platillos-link"><i class="bi bi-egg-fried"></i><span>Platillos</span></a>
                </li>
                @if (User.IsInRole(Roles.Admin_Role))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categorías</a>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
</div>
<script>
    // Agregar eventos de clic para redirigir a las vistas respectivas
    document.getElementById('categorias-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Category/Index';
    });

    document.getElementById('productos-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Product/Index';
    });

    document.getElementById('platillos-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Dish/Index';
    });

</script>