
<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <button class="sidebar-toggle" id="sidebar-toggle">
        <i class="bi bi-star-fill" id="home_icon"></i>
    </button>
    <h2 class="sidebar-title">StarFood</h2>
    <ul class="sidebar-nav">
        <li><a href="#" id="inicio-link"><i class="bi bi-house-door"></i><span>Inicio</span></a></li>
        <li><a href="#" id="productos-link"><i class="bi bi-basket"></i><span>Producto</span></a></li>
        <li><a href="#" id="platillos-link"><i class="bi bi-plate"></i><span>Platillos</span></a></li>
        <li><a href="#" id="proveedor-link"><i class="bi bi-truck"></i><span>Proveedores</span></a></li>
        <li><a href="#" id="pedidos-link"><i class="bi bi-receipt"></i><span>Pedidos</span></a></li>
        <li><a href="#" id="facturas-link"><i class="bi bi-file-earmark-text"></i><span>Facturas</span></a></li>
    </ul>
</div>


<script>
    // Función para minimizar el sidebar
    function minimizeSidebar() {
        const sidebar = document.getElementById('sidebar');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const sidebarTitle = document.querySelector('.sidebar-title');
        const sidebarNav = document.querySelectorAll('.sidebar-nav li a');

        sidebar.classList.add('minimized');
        sidebarToggle.innerHTML = '<i class="bi bi-star-half"></i>';
        sidebarTitle.style.display = 'none';
        sidebarNav.forEach(link => {
            link.querySelector('span').style.display = 'none';
            link.querySelector('i').style.marginLeft = '10px';
        });
    }

    // Función para maximizar el sidebar
    function maximizeSidebar() {
        const sidebar = document.getElementById('sidebar');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const sidebarTitle = document.querySelector('.sidebar-title');
        const sidebarNav = document.querySelectorAll('.sidebar-nav li a');

        sidebar.classList.remove('minimized');
        sidebarToggle.innerHTML = '<i class="bi bi-star-fill"></i>';
        sidebarTitle.style.display = 'block';
        sidebarNav.forEach(link => {
            link.querySelector('span').style.display = 'inline';
            link.querySelector('i').style.marginLeft = '0';
        });
    }

    // Agregar evento al botón de toggle
    document.getElementById('sidebar-toggle').addEventListener('click', function () {
        const sidebar = document.getElementById('sidebar');
        if (sidebar.classList.contains('minimized')) {
            maximizeSidebar();
        } else {
            minimizeSidebar();
        }
    });

    // Agregar eventos de clic para redirigir a las vistas respectivas
    document.getElementById('inicio-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Home/Index';
    });

    document.getElementById('productos-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Productos/Index';
    });

    document.getElementById('platillos-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Platillos/Index';
    });

    document.getElementById('proveedor-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Proveedor/Index';
    });


    document.getElementById('pedidos-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Pedidos/Index';
    });

    document.getElementById('facturas-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Facturas/Index';
    });
</script>

<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--color-accent);
        color: var(--color-light);
        padding: 20px;
        transition: width 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .sidebar.minimized {
            width: 80px;
            align-items: center;
        }

    .sidebar-toggle {
        align-self: flex-end;
        width: 50px;
        height: 50px;
        background-color: var(--color-accent);
        color: var(--color-light);
        border: none;
        padding: 0px;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 20px;
    }

        .sidebar-toggle:hover {
            background-color: var(--color-dark);
        }

    .sidebar-title {
        color: var(--color-light);
        margin-left: 30px;
        margin-bottom: 20px;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebar-nav {
        list-style: none;
        padding: 0;
        width: 100%;
    }

        .sidebar-nav li {
            width: 100%;
        }

            .sidebar-nav li a {
                display: flex;
                align-items: center; /* Alinear iconos y texto verticalmente */
                padding: 10px 30px;
                color: var(--color-light);
                text-decoration: none;
                position: relative;
            }

                .sidebar-nav li a i {
                    margin-right: 10px; /* Margen derecho entre el icono y el texto */
                    transition: margin 0.3s ease-in-out; /* Agregar transición para el margen */
                }

                .sidebar-nav li a span {
                    transition: opacity 0.3s ease-in-out;
                }

            .sidebar-nav li.minimized a i {
                margin-left: 10px; /* Ajustar la posición del icono cuando el sidebar está minimizado */
            }

            .sidebar-nav li.minimized a span {
                display: none;
            }

            .sidebar-nav li a:hover {
                background-color: var(--color-dark);
            }
</style>
