<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <button class="sidebar-toggle" id="sidebar-toggle">
        <i class="bi bi-star-half" id="home_icon"></i>
    </button>
    <h2 class="sidebar-title">StarFood</h2>
    <ul class="sidebar-nav">
        <li><a href="/Home/Index" id="inicio-link"><i class="bi bi-house-door"></i><span>Inicio</span></a></li>
        <li><a href="/Category/Index" id="categoria-link"><i class="bi bi-list-task"></i><span>Inventario</span></a></li>
        <li><a href="/Supplier/Index" id="proveedor-link"><i class="bi bi-truck"></i><span>Proveedores</span></a></li>
        <li><a href="/Order/Index" id="pedidos-link"><i class="bi bi-receipt"></i><span>Pedidos</span></a></li>
        <li><a href="/Bill/Index" id="facturas-link"><i class="bi bi-file-earmark-text"></i><span>Facturas</span></a></li>
    </ul>
</div>

<script>
    const sidebarToggleBtn = document.querySelector('.sidebar-toggle');
    const sidebar = document.querySelector('.sidebar');

    sidebarToggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('sidebar-closed');
    });

    function minimizeSidebar() {
        const sidebar = document.getElementById('sidebar');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const sidebarTitle = document.querySelector('.sidebar-title');
        const sidebarNav = document.querySelectorAll('.sidebar-nav li a');
        sidebar.classList.add('minimized');
        sidebarToggle.innerHTML = '<i class="bi bi-star-fill"></i>';
        sidebarTitle.style.display = 'none';
        sidebarNav.forEach(link => {
            link.querySelector('span').style.display = 'none';
            link.querySelector('i').style.marginLeft = '5px';
        });
    }

    function maximizeSidebar() {
        const sidebar = document.getElementById('sidebar');
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const sidebarTitle = document.querySelector('.sidebar-title');
        const sidebarNav = document.querySelectorAll('.sidebar-nav li a');
        sidebar.classList.remove('minimized');
        sidebarToggle.innerHTML = '<i class="bi bi-star-half"></i>';
        sidebarTitle.style.display = 'block';
        sidebarNav.forEach(link => {
            link.querySelector('span').style.display = 'inline';
            link.querySelector('i').style.marginLeft = '0';
        });
    }

    sidebarToggleBtn.addEventListener('click', () => {
        const sidebar = document.getElementById('sidebar');
        if (sidebar.classList.contains('minimized')) {
            maximizeSidebar();
        } else {
            minimizeSidebar();
        }
    });
</script>

<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--color-dark);
        color: var(--color-light);
        padding: 20px;
        transition: width 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .sidebar.minimized {
            width: 110px;
            align-items: center;
        }

    .sidebar-toggle {
        align-self: flex-end;
        width: 50px;
        height: 50px;
        background-color: var(--color-dark);
        color: var(--color-light);
        border: none;
        padding: 0px;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .sidebar-title {
        color: var(--color-light);
        margin-left: 30px;
        margin-bottom: 20px;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebar-nav {
        list-style: none;
        padding: 0;
        width: 100%;
    }

        .sidebar-nav li {
            width: 100%;
        }

            .sidebar-nav li a {
                display: flex;
                align-items: center;
                padding: 10px 30px;
                color: var(--color-light);
                text-decoration: none;
            }

                .sidebar-nav li a i {
                    margin-right: 10px;
                    transition: margin 0.3s ease-in-out;
                }

                .sidebar-nav li a span {
                    transition: opacity 0.3s ease-in-out;
                }

                .sidebar-nav li a:hover {
                    background-color: var(--color-dark);
                }
</style>
