﻿
<!-- Sidebar -->
<section class="sidebar" id="sidebar">

	<!--Star Button-->
	<button class="sidebar-toggle" id="sidebar-toggle">
		<i class="bi bi-star-half" id="home_icon"></i>
	</button>


	<h2 class="sidebar-title">StarFood</h2>
	<ul class="sidebar-nav">
		<li><a href="#" id="inicio-link"><i class="bi bi-house-door"></i><span>Inicio</span></a></li>
		<li><a href="#" id="categorias-link"><i class="bi bi-list-task"></i><span>Categorías</span></a></li>
		<li><a href="#" id="productos-link"><i class="bi bi-basket"></i><span>Producto</span></a></li>
		<li><a href="#" id="platillos-link"><i class="bi bi-plate"></i><span>Platillos</span></a></li>
		<li><a href="#" id="proveedor-link"><i class="bi bi-truck"></i><span>Proveedores</span></a></li>
		<li><a href="#" id="pedidos-link"><i class="bi bi-receipt"></i><span>Pedidos</span></a></li>
		<li><a href="#" id="facturas-link"><i class="bi bi-file-earmark-text"></i><span>Facturas</span></a></li>
		<li><a href="#" id="inventario-link"><i class="bi bi-file-earmark-text"></i><span>Inventario</span></a></li>
	</ul>
</section>


<script>
	const sidebarToggleBtn = document.querySelector('.sidebar-toggle');
	const mainContent = document.querySelector('.main-content');
	const sidebar = document.querySelector('.sidebar');

    sidebarToggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('sidebar-closed');
        mainContent.classList.toggle('sidebar-closed');
    });


	// Función para minimizar el sidebar
	function minimizeSidebar() {
		const sidebar = document.getElementById('sidebar');
		const sidebarToggle = document.getElementById('sidebar-toggle');
		const sidebarTitle = document.querySelector('.sidebar-title');
		const sidebarNav = document.querySelectorAll('.sidebar-nav li a');
		sidebar.classList.add('minimized');
		sidebarToggle.innerHTML = '<i class="bi bi-star-fill"></i>';
		sidebarTitle.style.display = 'none';
		sidebarNav.forEach(link => {
			link.querySelector('span').style.display = 'none';
			link.querySelector('i').style.marginLeft = '5px';
		});
	}

	// Función para maximizar el sidebar
	function maximizeSidebar() {
		const sidebar = document.getElementById('sidebar');
		const sidebarToggle = document.getElementById('sidebar-toggle');
		const sidebarTitle = document.querySelector('.sidebar-title');
		const sidebarNav = document.querySelectorAll('.sidebar-nav li a');
		sidebar.classList.remove('minimized');
		sidebarToggle.innerHTML = '<i class="bi bi-star-half"></i>';
		sidebarTitle.style.display = 'block';
		sidebarNav.forEach(link => {
			link.querySelector('span').style.display = 'inline';
			link.querySelector('i').style.marginLeft = '0';
		});
	}

	// Agregar evento al botón Star
	document.getElementById('sidebar-button-star').addEventListener('click', function () {
		const sidebar = document.getElementById('sidebar');
		if (sidebar.classList.contains('minimized')) {
			maximizeSidebar();
		} else {
			minimizeSidebar();
		}
	});

	// Agregar eventos de clic para redirigir a las vistas respectivas
	document.getElementById('inicio-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Home/Index1';
	});

	document.getElementById('productos-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Product/Index';
	});

	document.getElementById('platillos-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Dish/Index';
	});

	document.getElementById('proveedor-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Supplier/Index';
	});


	document.getElementById('pedidos-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Order/Index';
	});

	document.getElementById('facturas-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Bill/Index';
	});

    document.getElementById('categorias-link').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/Categorias/Index';
    });

	document.getElementById('facturas-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Facturas/Index';
	});

	document.getElementById('inventario-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Inventario/Index';
	});


</script>

<style>
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100vh;
		background-color: var(--color-dark);
		color: var(--color-light);
		padding: 20px;
		transition: width 0.3s ease-in-out;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

        .sidebar.minimized {
            width: 110px;
            align-items: center;
        }

	.sidebar-toggle {
		align-self: flex-end;
		width: 50px;
		height: 50px;
		background-color: var(--color-dark);
		color: var(--color-light);
		border: none;
		padding: 0px;
		font-size: 30px;
		cursor: pointer;
		margin-bottom: 20px;
	}

		.sidebar-toggle:hover {
			background-color: var(--color-dark);
		}

	.sidebar-title {
		color: var(--color-light);
		margin-left: 30px;
		margin-bottom: 20px;
		transition: opacity 0.3s ease-in-out;
	}

	.sidebar-nav {
		list-style: none;
		padding: 0;
		width: 100%;
	}

		.sidebar-nav li {
			width: 100%;
		}

			.sidebar-nav li a {
				display: flex;
				align-items: center; /* Alinear iconos y texto verticalmente */
				padding: 10px 30px;
				color: var(--color-light);
				text-decoration: none;
				position: relative;
			}

				.sidebar-nav li a i {
					margin-right: 10px; /* Margen derecho entre el icono y el texto */
					transition: margin 0.3s ease-in-out; /* Agregar transición para el margen */
				}

				.sidebar-nav li a span {
					transition: opacity 0.3s ease-in-out;
				}

			.sidebar-nav li.minimized a i {
				margin-left: 10px; /* Ajustar la posición del icono cuando el sidebar está minimizado */
			}

			.sidebar-nav li.minimized a span {
				display: none;
			}

			.sidebar-nav li a:hover {
				background-color: var(--color-dark);
			}

	h1 {
		margin-top: -35px; /* Márgen superior */
		margin-right: 0px; /* Márgen derecho */
		margin-bottom: 20px; /* Márgen inferior */
		margin-left: 50px; /* Márgen izquierdo */
	}

	h2 {
		margin-top: 25px; /* Márgen superior */
		margin-right: 0px; /* Márgen derecho */
		margin-bottom: 20px; /* Márgen inferior */
		margin-left: 50px; /* Márgen izquierdo */
		color: black;
	}

    h1-carrusel {
        margin-top: -35px; /* Márgen superior */
        margin-right: 0px; /* Márgen derecho */
        margin-bottom: 20px; /* Márgen inferior */
        margin-left: 50px; /* Márgen izquierdo */
    }

    #carouselExampleAutoplaying {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .carousel-img {
        height: 300px;
        object-fit: cover; /* Ajusta la imagen para que cubra el área sin distorsión */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los íconos de control */
        border-radius: 50%; /* Redondear los íconos */
    }

    .carousel-indicators [data-bs-target] {
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los indicadores */
    }

    .header-container {
        display: flex; /* Usa flexbox */
        justify-content: space-between; /* Distribuye los elementos al principio y al final */
        align-items: center; /* Centra verticalmente los elementos */
    }

    .carousel-caption {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 20px;
        color: white; /* Color del texto */
        text-align: center; /* Alinear el texto al centro */
        transform: translateY(-50%);
    }

        .carousel-caption h1 {
            margin: 0; /* Eliminar márgenes */
            font-size: 45px; /* Tamaño de fuente */
            color: white;
            text-align: center;
        }


    .whatsapp-button {
        /* Estilos para el botón de WhatsApp */
        font-size: 24px;
        color: green; /* Color de WhatsApp */
        /* Agrega más estilos según sea necesario */
        margin-top: -35px; /* Márgen superior */
        margin-right: 50px; /* Márgen derecho */
        margin-bottom: 0px; /* Márgen inferior */
        margin-left: 50px; /* Márgen izquierdo */
    }

    .rounded-box {
        background-color: var(--color-dark);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 0 auto; /* Centrar el contenedor */
    }

    /* Estilos para la tabla */
    .table {
        background-color: var(--color-light);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

        .table th,
        .table td {
            border-color: var(--color-accent);
            color: var(--color-dark);
        }

        .table th {
            background-color: var(--color-accent);
            color: var(--color-light);
        }

    .table-hover tbody tr:hover {
        background-color: var(--color-secondary);
        color: var(--color-dark);
    }

    .btn-primary {
        background-color: var(--color-secondary);
        width: 100%; /* Hacer que el botón ocupe todo el ancho de la columna */
    }

    .btn-secondary {
        background-color: var(--color-light);
        margin-left: 20px;
    }

    /* Estilos para el preview */
    .preview {
        position: absolute;
        background-color: var(--color-light);
        border: 1px solid var(--color-dark);
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

        .preview h5 {
            color: var(--color-accent);
            margin-bottom: 5px;
        }

        .preview p {
            color: var(--color-dark);
            margin-bottom: 5px;
        }

    input[type="text"] {
        width: 100%; /* Hacer que el input ocupe todo el ancho de la columna */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        input[type="text"]:focus {
            border-color: #aaa;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

</style>