<header>
	<link rel="stylesheet" href="style.css" />
</header>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<section class="sidebar" id="sidebar">
	<div class="sidebar-header">
		<img src="/Imagenes/LOGO.png" class="sidebar-image">
		<button class="sidebar-button-star" id="sidebar-button-star">
			<i class="bi bi-star-half" id="home_icon"></i>
		</button>
		
		<h2 class="sidebar-title">StarFood</h2>
		<ul class="sidebar-nav">
			<li><a href="#" id="inicio-link"><i class="bi bi-house-door"></i><span>Inicio</span></a></li>
			<li><a href="#" id="categorias-link"><i class="bi bi-list-task"></i><span>Categorías</span></a></li>
			<li><a href="#" id="productos-link"><i class="bi bi-basket"></i><span>Producto</span></a></li>
			<li><a href="#" id="platillos-link"><i family="material-symbols-outlined"></i><span>Platillos</span></a></li>
			<li><a href="#" id="proveedor-link"><i class="bi bi-truck"></i><span>Proveedores</span></a></li>
			<li><a href="#" id="pedidos-link"><i class="bi bi-receipt"></i><span>Pedidos</span></a></li>
			<li><a href="#" id="facturas-link"><i class="bi bi-file-earmark-text"></i><span>Facturas</span></a></li>
			<li><a href="#" id="inventario-link"><i class="bi bi-file-earmark-text"></i><span>Inventario</span></a></li>
		</ul>
</section>


<script>
	const sidebarToggleBtn = document.querySelector('.sidebar-button-star');
	const mainContent = document.querySelector('.main-content');
	const sidebar = document.querySelector('.sidebar');

	sidebarToggleBtn.addEventListener('click', () => {
		sidebar.classList.toggle('sidebar-closed');
		mainContent.classList.toggle('sidebar-closed');
	});

	// Función para minimizar el sidebar
	function minimizeSidebar() {
		const sidebar = document.getElementById('sidebar');
		const sidebarToggle = document.getElementById('sidebar-button-star');
		const sidebarTitle = document.querySelector('.sidebar-title');
		const sidebarNav = document.querySelectorAll('.sidebar-nav li a');
		sidebar.classList.add('minimized');
		sidebarToggle.innerHTML = '<i class="bi bi-star-fill"></i>';
		sidebarTitle.style.display = 'none';
		sidebarNav.forEach(link => {
			link.querySelector('span').style.display = 'none';
			link.querySelector('i').style.marginLeft = '5px';
		});
	}

	// Función para maximizar el sidebar
	function maximizeSidebar() {
		const sidebar = document.getElementById('sidebar');
		const sidebarToggle = document.getElementById('sidebar-button-star');
		const sidebarTitle = document.querySelector('.sidebar-title');
		const sidebarNav = document.querySelectorAll('.sidebar-nav li a');
		sidebar.classList.remove('minimized');
		sidebarToggle.innerHTML = '<i class="bi bi-star-half"></i>';
		sidebarTitle.style.display = 'block';
		sidebarNav.forEach(link => {
			link.querySelector('span').style.display = 'inline';
			link.querySelector('i').style.marginLeft = '0';
		});
	}

	// Agregar evento al botón Star
	document.getElementById('sidebar-button-star').addEventListener('click', function () {
		const sidebar = document.getElementById('sidebar');
		if (sidebar.classList.contains('minimized')) {
			maximizeSidebar();
		} else {
			minimizeSidebar();
		}
	});

	// Agregar eventos de clic para redirigir a las vistas respectivas
	document.getElementById('inicio-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Home/Index1';
	});

	document.getElementById('productos-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Product/Index';
	});

	document.getElementById('platillos-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Dish/Index';
	});

	document.getElementById('proveedor-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Supplier/Index';
	});


	document.getElementById('pedidos-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Order/Index';
	});

	document.getElementById('facturas-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Bill/Index';
	});

	document.getElementById('categorias-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Category/Index';
	});

	document.getElementById('facturas-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Facturas/Index';
	});

	document.getElementById('inventario-link').addEventListener('click', function (event) {
		event.preventDefault();
		window.location.href = '/Inventario/Index';
	});


</script>

<style>
	.material-symbols-outlined {
		font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
	}
</style>