@model StarFood.Models.Proveedor

@{
    ViewData["Title"] = "Crear Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center">Crear Proveedor</h1> <!-- Centrar el título -->

<div class="row justify-content-center">
    <div class="col-md-6">
        <!-- Columna centralizada -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-sm-6 mx-auto">
                    <!-- Centrar la primera fila -->
                    <div class="form-group">
                        <label for="Empresa" class="col-form-label">Empresa:</label>
                        <input asp-for="Empresa" class="form-control" />
                        <span asp-validation-for="Empresa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Contacto" class="col-form-label">Contacto:</label>
                        <input asp-for="Contacto" class="form-control" />
                        <span asp-validation-for="Contacto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="col-form-label">Nombre:</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col text-center">
                    <!-- Centrar los botones -->
                    <button type="submit" class="btn btn-info">Crear</button>
                    <a asp-action="Index" class="btn btn-info">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
