@model StarFood.Models.Platillo

@{
    ViewData["Title"] = "Crear Platillos";
}



<!-- Modal para agregar platillo -->
<div class="modal fade" id="AddDish" tabindex="-1" aria-labelledby="addDishLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDishLabel">Agregar nuevo platillo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Dish" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Categoria" class="form-label">Categoría</label>
                        <select asp-for="Categoria" class="form-select" id="CategoriaDropdown" name="CategoriaID" required>
                        </select>

                    </div>
                    <div class="mb-3">
                        <label for="Precio" class="form-label">Precio</label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Descripcion" class="form-label">Descripción</label>
                        <textarea asp-for="Descripcion" id="Descripcion" name="Descripcion"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="ImagenUrl" class="form-label">Seleccionar Imagen</label>
                        <div class="input-group">
                            <input asp-for="ImagenUrl" type="file" class="form-control" id="file" name="file" accept="image/*">
                            <span asp-validation-for="ImagenUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Suspendido" class="form-label">
                            <span>Suspendido</span>
                            <input type="checkbox" class="custom-checkbox" id="Suspendido" name="Suspendido">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-info">Crear</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

   

@section Scripts {
    @{
        
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
