@{
    ViewData["Title"] = "Login";
}

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="~/css/LoginStyles.css" asp-append-version="true" />
    <h8 class="brand-text">Starfood</h8>
</head>
    <body>
        <div class="login-container">
       

            <img src="~/Content/logo.png" alt="Logo" class="logo" />

            <H1>Iniciar Sesión</H1>

            <h4>Ingresar Correo electrónico</h4>
            <input type="email" placeholder="Correo electrónico" />

            <h4>Ingresar Contraseña</h4>
            <input type="password" placeholder="Contraseña" />

            <button class="btn-iniciar">Iniciar Sesión</button>
            <button class="btn-crear-cuenta">Crear Cuenta</button>
        </div>
    </body>
</html>