@{
    ViewData["Title"] = "Home Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <div class="header-container">
        <h1>Soda Starfood</h1>
        <a href="tu-enlace-de-WhatsApp" class="whatsapp-button">
            <i class="bi bi-whatsapp"></i>
        </a>
    </div>

</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h3>Administrador</h3>
        </div>
        <div class="dashboard-content">
            <div class="row">
                <div class="col-6">
                    <div class="dashboard-section">
                        <h2>Ingresos del día</h2>
                        <p id="ingreso-total">$100.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="dashboard-section">
                        <h2>Gastos del día</h2>
                        <p id="gasto-total">$100.00</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="dashboard-section">
                        <h2>Pedidos en proceso</h2>
                        <ul id="pedido-list">
                            <li>
                                <span class="pedido-state">En proceso</span>
                                <span class="pedido-date">2023-02-20</span>
                                <span class="pedido-total">$100.00</span>
                            </li>
                            <li>
                                <span class="pedido-state">En proceso</span>
                                <span class="pedido-date">2023-02-21</span>
                                <span class="pedido-total">$200.00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="dashboard-section">
                        <h2>Facturas en proceso</h2>
                        <ul id="factura-list">
                            <li>
                                <span class="factura-state">En proceso</span>
                                <span class="factura-date">2023-02-20</span>
                                <span class="factura-total">$100.00</span>
                            </li>
                            <li>
                                <span class="factura-state">En proceso</span>
                                <span class="factura-date">2023-02-21</span>
                                <span class="factura-total">$200.00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<style>
    .dashboard-container {
        max-width: 1600px;
        margin: 40px auto;
        padding: 20px;
        background-color: var(--color-dark);
        border: 1px solid var(--color-light);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dashboard-header {
        background-color: var(--color-light);
        color: var(--color-dark);
        padding: 10px;
        border-bottom: 1px solid var(--color-dark);
        border-radius: 10px;
        text-align: center;
    }

    .dashboard-content {
        padding: 20px;
    }

    .dashboard-section {
        background-color: var(--color-light);
        border: 1px solid var(--color-dark);
        border-radius: 5px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .dashboard-section h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0;
            color: var(--color-accent);
        }

        .dashboard-section ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .dashboard-section li {
            padding: 10px;
            border-bottom: 1px solid var(--color-dark);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .dashboard-section li:last-child {
                border-bottom: none;
            }

    .pedido-state, .factura-state {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-accent);
    }

    .pedido-date, .factura-date {
        font-size: 1rem;
        color: var(--color-secondary);
    }

    .pedido-total, .factura-total, .ingreso-total, .gasto-total {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-accent);
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .btn {
        flex: 1;
        text-align: center;
        max-width: 200px;
    }

    .rounded-box {
        background-color: var(--color-dark);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 0 auto;
    }

    .table {
        background-color: var(--color-light);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 900px;
    }

        .table th, .table td {
            border-color: var(--color-accent);
            color: var(--color-dark);
        }

        .table th {
            background-color: var(--color-accent);
            color: var(--color-light);
        }

    .table-hover tbody tr:hover {
        background-color: var(--color-secondary);
        color: var(--color-dark);
    }

    .btn-primary {
        background-color: var(--color-secondary);
        width: 100%;
    }

    .btn-secondary {
        background-color: var(--color-light);
        margin-left: 20px;
    }

    input[type="search"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        input[type="search"]:focus {
            border-color: #aaa;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

</style>

<script>
    // FilterBox
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', filterTable);

    function filterTable() {
        const searchTerm = searchInput.value.toLowerCase();
        const rows = document.querySelectorAll('#categoryTable tbody tr');

        rows.forEach(row => {
            const name = row.querySelector('td:first-child').textContent.toLowerCase();
            const category = row.querySelector('td:nth-child(2)').textContent.toLowerCase();

            if (name.includes(searchTerm) || category.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    // Add event to SeeOptions
    document.getElementById('dropdownButton').addEventListener('click', function () {
        // Verify if the SeeOptions is open
        if (document.getElementById('dropdown').classList.contains('show')) {
            // Close the SeeOptions
            document.getElementById('dropdown').classList.remove('show');
        } else {
            // Open the SeeOptions
            document.getElementById('dropdown').classList.add('show');
        }
    });

    // Mostrar el preview al pasar el mouse sobre la fila
    const rows = document.querySelectorAll('#categoryTable tbody tr');

    rows.forEach(row => {
        row.addEventListener('mouseenter', showPreview);
        row.addEventListener('mouseleave', hidePreview);
    });

    function showPreview(event) {
        const row = event.currentTarget;
        const name = row.querySelector('td:first-child').textContent;
        const category = row.querySelector('td:nth-child(2)').textContent;
        const price = row.querySelector('td:nth-child(3)').textContent;

        // Crea y muestra el elemento de preview
        const preview = document.createElement('div');
        preview.classList.add('preview');
        preview.innerHTML = `
                <h5>${name}</h5>
                <p>Categoría: ${category}</p>
                <p>Precio: ${price}</p>
            `;
        row.appendChild(preview);
    }

    function hidePreview(event) {
        const row = event.currentTarget;
        const preview = row.querySelector('.preview');
        row.removeChild(preview);
    }
</script>
