@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


               
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <div>
        <h1> Welcome to Starfood</h1>


    </div>

</body>
</html>
