@page
@model LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Log In";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginStyles.css" asp-append-version="true" />
</head>
<body>
    <section class="container">
        <section class="left-section d-flex align-items-center justify-content-center">
            <section class="login">
                <h1>Bienvenidos</h1>
                <form id="account" method="post">
                    <input type="text" name="u" placeholder="Usuario" required="required" />
                    <input type="password" name="p" placeholder="Contraseña" required="required" />
                    <div class="button-group">
                        <button type="submit" class="btn btn-primary btn-large">Ingresar</button>
                        <button id="register" type="button" class="btn btn-secondary btn-large" onclick="location.href='@Url.Page("./Register", new { returnUrl = Model.ReturnUrl })'">Registrarse</button>
                    </div>
                </form>
            </section>
        </section>
    </section>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>
