@page
@using StarFood.Utility
@model RegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Registro";
}
<section class="container">
    <section class="left-section d-flex align-items-center justify-content-center">
        <section class="login">
            <h1>Registro</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <input asp-for="Input.IDUsuario" class="form-control" placeholder="Identificación" required="required" />
                <input asp-for="Input.NombreUsuario" class="form-control" placeholder="Usuario" required="required" />
                <input asp-for="Input.Email" class="form-control" placeholder="Email" required="required" />
                <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" required="required" />
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" required="required" />
                <div class="button-group">
                    <button type="submit" class="btn btn-primary btn-large">Registrar</button>
                </div>
            </form>
        </section>
    </section>
</section>
<partial name="_ValidationScriptsPartial" />
