@page
@using StarFood.Utility
@model RegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Registro";
}
<section class="container">
    <section class="left-section d-flex align-items-center justify-content-center">
        <section class="login">
            <h1>Registro</h1>
            <form id="registerForm" asp-page-handler="Register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group">
                    <input asp-for="Input.IDUsuario" class="form-control" placeholder="Identificación" required="required" />
                    <span asp-validation-for="Input.IDUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.NombreUsuario" class="form-control" placeholder="Usuario" required="required" />
                    <span asp-validation-for="Input.NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" required="required" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" required="required" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" required="required" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
               @*  @if (User.IsInRole(Roles.Admin_Role))
                { *@
                    <div class="form-floating py-2">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                            <option enabled selected>Seleccione un rol</option>
                        </select>
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>
                @* } *@
                
                <div class="button-group">
                    <button type="submit" class="btn btn-primary btn-large">Registrar</button>
                </div>
            </form>
        </section>
    </section>
</section>
<partial name="_ValidationScriptsPartial" />
