@page
@using StarFood.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/LoginStyles.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating text-info">
                <input asp-for="Input.IDUsuario" class="form-control" autocomplete="Cedula" aria-required="true" placeholder="Numero Cedula"/>
                <label asp-for="Input.IDUsuario">Identificacion</label>
                <span asp-validation-for="Input.IDUsuario" class="text-danger"></span>
            </div>
            <div class="form-floating text-info">
                <input asp-for="Input.NombreUsuario" class="form-control" autocomplete="Nombre Usuario" aria-required="true" placeholder="Nombre Usuario" />
                <label asp-for="Input.NombreUsuario">Usuario</label>
                <span asp-validation-for="Input.NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
            <div class="form-floating text-info">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"  />
            <div class="form-floating text-info">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"  />
            <div class="form-floating text-info">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
