@model StarFood.Models.Factura

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDOrden" class="control-label"></label>
                <select asp-for="IDOrden" class ="form-control" asp-items="ViewBag.IDOrden"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaVenta" class="control-label"></label>
                <input asp-for="FechaVenta" class="form-control" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVenta" class="control-label"></label>
                <input asp-for="TotalVenta" class="form-control" />
                <span asp-validation-for="TotalVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDMetodoPago" class="control-label"></label>
                <select asp-for="IDMetodoPago" class ="form-control" asp-items="ViewBag.IDMetodoPago"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPago" class="control-label"></label>
                <input asp-for="CantidadPago" class="form-control" />
                <span asp-validation-for="CantidadPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadCambio" class="control-label"></label>
                <input asp-for="CantidadCambio" class="form-control" />
                <span asp-validation-for="CantidadCambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
