:root {
    --color-light: #FDFFE2;
    --color-dark: #5A72A0;
    --color-accent: #83B4FF;
    --color-secondary: #1A2130;
}

#sidebar .nav-link.active {
    background-color: #343a40; /* Fondo azul para indicar activo */
    color: white; /* Texto blanco */
    border-radius: 10px;
    width: 150px;
    box-shadow: inherit;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 20px;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.sidebar-title {
    color: var(--color-light);
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
    transition: opacity 0.3s ease-in-out;
}


.sidebar-nav li a:hover {
    background-color: var(--color-secondary);
}

.sidebar-bottom {
    margin-top: auto;
    width: 100%;
}

.sidebar-nav li a .tooltip {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.sidebar-nav li a:hover .tooltip {
    display: block;
}


.main-content {
    margin-left: 220px;
    padding: 20px;
    margin-top: -50px;
}

/*
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 20px;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

    .sidebar.minimized {
        width: 80px;
        align-items: center;
    }

        .sidebar.minimized .sidebar-title {
            display: none;
        }

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar.minimized .sidebar-header {
    justify-content: center;
}

.sidebar-toggle {
    background-color: transparent;
    color: var(--color-light);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar-title {
    color: var(--color-light);
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    transition: opacity 0.3s ease-in-out;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    width: 100%;
}

    .sidebar-nav li {
        width: 100%;
    }

        .sidebar-nav li a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px;
            color: var(--color-light);
            text-decoration: none;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

            .sidebar-nav li a i {
                font-size: 28px;
                margin-right: 10px;
            }

            .sidebar-nav li a span {
                display: inline;
                transition: opacity 0.3s ease-in-out;
            }

.sidebar.minimized .sidebar-nav li a span {
    display: none;
}

.sidebar-nav li a:hover {
    background-color: var(--color-secondary);
}

.sidebar-bottom {
    margin-top: auto;
    width: 100%;
}

.sidebar-nav li a .tooltip {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.sidebar-nav li a:hover .tooltip {
    display: block;
}

.dropdown-menu {
    background-color: var(--color-dark);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    width: 100%;
    padding: 0;
}

    .dropdown-menu a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        color: var(--color-light);
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        opacity: 0.8;
    }

        .dropdown-menu a:hover {
            background-color: var(--color-secondary);
            opacity: 1;
        }

.sidebar.minimized .dropdown-menu a span {
    display: none;
}

.main-content {
    background-color: var(--color-light);
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    max-width: 100%;
    margin-left: 300px;
    transition: margin-left 0.3s ease;
}

.sidebar-closed .main-content {
    margin-left: 80px;
}

@media (max-width: 768px) {
    .sidebar,
    .sidebar-closed .sidebar {
        width: 100%;
    }
*/