/* styles.css */

/* Estilos para el dropdown del menú */
.dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
}

    .dropdown-menu .dropdown-item {
        color: black;
    }

        .dropdown-menu .dropdown-item:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

.main-content {
    padding: 20px;
}

.sidebar {
    min-height: calc(100vh - 56px);
}
