/* Estilos para el contenedor principal */
.container {
    margin-top: 2rem;
}

/* Estilos para el botón de crear nueva categoría */
.btn-create-category {
    float: right;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-right: 10px;
}

/* Estilos para el newitem deslizante */
.newitem {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.newitem-content {
    margin: 20px;
    color: white;
}

.newitem-close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

.newitem-open {
    float: right;
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

    .newitem-open:hover {
        background-color: #138496;
    }

