body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    background-color: #f8f9fa;
    padding: 40px;
    width: 100%;
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h8 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #007bff; /* Cambia este color al que desees */
}

button {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.form-floating {
    position: relative;
}

    .form-floating > .form-control {
        height: auto;
        padding: 1.5rem 0.75rem;
    }

    .form-floating > .form-label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem 0.75rem;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        transition: all 0.2s ease-in-out;
    }

    .form-floating > .form-control:focus + .form-label,
    .form-floating > .form-control:not(:placeholder-shown) + .form-label {
        transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
        background-color: #f8f9fa;
        padding: 0 0.2rem;
    }
