html {
    font-size: 16px; 
}


@media (min-width: 768px) {
    html {
        font-size: 18px; 
    }
}


html, body {
    height: 100%; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}


.container {
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
}


.section {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 


.element {
    flex: 1; 
    margin: 10px; 
    padding: 10px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    text-align: center;
}


@media (max-width: 768px) {
    .section {
        flex-direction: column; 
    }

    .element {
        width: 100%; 
    }
}
body {
    background-color: #002750;
    color: #ffffff;
}

.sidebar {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding-top: 3.5rem;
    background-color: #f8f9fa;
    z-index: 1;
}

.navbar {
    z-index: 2;
}

.main-content {
    margin-left: 250px;
    padding-top: 3.5rem;
}

.card-body a.nav-link {
    color: black;
}
