

        .header {
            position: relative;
            height: 200px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            max-height: 55px;
        }

        .header-title {
            font-size: 2.5rem;
            font-weight: bold;
            z-index: 1;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            justify-content: right;
        }

        .animated-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            background: linear-gradient(270deg, #000, #333, #555, #333, #000);
            background-size: 800% 800%;
            animation: bgAnimation 20s ease infinite;
        }

        @keyframes bgAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
