:root {
    --color-light: #FDFFE2; /* Nuevo color light TABLA Y TITULO*/
    --color-dark: #5A72A0; /* Nuevo color dark */
    --color-accent: #83B4FF; /* Nuevo color accent */
    --color-secondary: #1A2130; /* Nuevo color secondary */
}


.main-content {
    background-color: var(--color-light);
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    margin-left: 250px; /* Ancho del sidebar */
    transition: margin-left 0.3s ease;
}

    .main-content.sidebar-closed {
        margin-left: 110px;
    }


body {
    background-color: var(--color-light)
}

button, .btn-custom {
    font-size: 1.2rem;
    font-weight: bold;
    color: white; /* Color de texto blanco */
    background-color: var(--color-secondary); /* Color de fondo secondary */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover, .btn-custom:hover {
        background-color: var(--color-light); /* Cambiar color de fondo en hover */
        color: var(--color-secondary); /* Cambiar color de texto en hover */
    }


h1 {
    margin-top: -35px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
}

h2 {
    margin-top: 25px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
    color: black;
}

h1-carrusel {
    margin-top: -35px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
}

/* Estilos específicos para los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
    filter: none; /* Elimina cualquier filtro de color aplicado */
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
}

#carouselExampleAutoplaying {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-img {
    height: 300px;
    object-fit: cover; /* Ajusta la imagen para que cubra el área sin distorsión */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los íconos de control */
    border-radius: 50%; /* Redondear los íconos */
}

.carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los indicadores */
}

.header-container {
    display: flex; /* Usa flexbox */
    justify-content: space-between; /* Distribuye los elementos al principio y al final */
    align-items: center; /* Centra verticalmente los elementos */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    color: white; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    transform: translateY(-50%);
}

    .carousel-caption h1 {
        margin: 0; /* Eliminar márgenes */
        font-size: 45px; /* Tamaño de fuente */
        color: white;
        text-align: center;
    }
/*---------------------------------------------------------------------------------------------*/


/* Resto del CSS */
h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-light);
}

h2 {
    font-size: 2rem;
    color: var(--color-secondary);
}

h3 {
    font-size: 1.5rem;
    color: var(--color-accent);
}

p, small {
    font-size: 1.2rem;
    font-weight: normal;
}

p {
    color: var(--color-dark);
}

small {
    color: var(--color-secondary);
}

a {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-light);
    text-decoration: none;
}

    a:hover {
        color: var(--color-dark);
    }

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar-title {
    color: var(--color-light);
    margin-left: 20px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
}

.imagen {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p, small, a {
        font-size: 1rem;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .imagen {
        width: 80px;
    }

    .sidebar-title {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p, small, a {
        font-size: 0.9rem;
    }

    .logo {
        width: 20px;
        height: 20px;
    }

    .imagen {
        width: 60px;
    }

    .sidebar-title {
        font-size: 1.2rem;
        margin-left: 5px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    flex: 1;
    text-align: center;
    max-width: 200px;
}

.rounded-box {
    background-color: var(--color-dark);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

.table {
    background-color: var(--color-light);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 900px;
}

    .table th,
    .table td {
        border-color: var(--color-accent);
        color: var(--color-dark);
    }

    .table th {
        background-color: var(--color-accent);
        color: var(--color-light);
    }

.table-hover tbody tr:hover {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.btn-primary {
    background-color: var(--color-secondary);
    width: 100%;
}

.btn-secondary {
    background-color: var(--color-light);
    margin-left: 20px;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    input[type="search"]:focus {
        border-color: #aaa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
        }

h1 {
    margin-top: -35px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
}

h2 {
    margin-top: 25px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
    color: black;
}


.whatsapp-button {
    /* Estilos para el botón de WhatsApp */
    font-size: 24px;
    color: green; /* Color de WhatsApp */
    /* Agrega más estilos según sea necesario */
    margin-top: -35px; /* Márgen superior */
    margin-right: 50px; /* Márgen derecho */
    margin-bottom: 0px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
}

.rounded-box {
    background-color: var(--color-dark);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos para la tabla */
.table {
    background-color: var(--color-light);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .table th,
    .table td {
        border-color: var(--color-accent);
        color: var(--color-dark);
    }

    .table th {
        background-color: var(--color-accent);
        color: var(--color-light);
    }

.table-hover tbody tr:hover {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.btn-primary {
    background-color: var(--color-secondary);
    width: 100%; /* Hacer que el botón ocupe todo el ancho de la columna */
}

.btn-secondary {
    background-color: var(--color-light);
    margin-left: 20px;
}

/* Estilos para el preview */
.preview {
    position: absolute;
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .preview h5 {
        color: var(--color-accent);
        margin-bottom: 5px;
    }

    .preview p {
        color: var(--color-dark);
        margin-bottom: 5px;
    }

input[type="text"] {
    width: 100%; /* Hacer que el input ocupe todo el ancho de la columna */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    input[type="text"]:focus {
        border-color: #aaa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }



h1 {
    margin-top: -35px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
}

h2 {
    margin-top: 25px; /* Márgen superior */
    margin-right: 0px; /* Márgen derecho */
    margin-bottom: 20px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
    color: black;
}

.whatsapp-button {
    /* Estilos para el botón de WhatsApp */
    font-size: 24px;
    color: green; /* Color de WhatsApp */
    /* Agrega más estilos según sea necesario */
    margin-top: -35px; /* Márgen superior */
    margin-right: 50px; /* Márgen derecho */
    margin-bottom: 0px; /* Márgen inferior */
    margin-left: 50px; /* Márgen izquierdo */
}

.rounded-box {
    background-color: var(--color-dark);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos para la tabla */
.table {
    background-color: var(--color-light);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .table th,
    .table td {
        border-color: var(--color-accent);
        color: var(--color-dark);
    }

    .table th {
        background-color: var(--color-accent);
        color: var(--color-light);
    }

.table-hover tbody tr:hover {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.btn-primary {
    background-color: var(--color-secondary);
    width: 100%; /* Hacer que el botón ocupe todo el ancho de la columna */
}

.btn-secondary {
    background-color: var(--color-light);
    margin-left: 20px;
}

/* Estilos para el preview */
.preview {
    position: absolute;
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .preview h5 {
        color: var(--color-accent);
        margin-bottom: 5px;
    }

    .preview p {
        color: var(--color-dark);
        margin-bottom: 5px;
    }

input[type="text"] {
    width: 100%; /* Hacer que el input ocupe todo el ancho de la columna */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    input[type="text"]:focus {
        border-color: #aaa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

.sidebar-image {
    bottom: 2rem;
    width: 3cm;
    float: left;
}
