
:root {
    --color-light: #ecfcf4;
    --color-dark: #34224e;
    --color-accent: #a1387e;
    --color-secundary: #08c3ff;
}

/* Estilos para los títulos */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-dark);
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-light);
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-accent);
}

/* Estilos para el texto principal */
p {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-dark);
}

/* Estilos para el texto secundario */
small {
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-secondary);
}

/* Estilos para el texto de enlaces */
a {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-light);
    text-decoration: none;
}

    a:hover {
        color: var(--color-dark);
    }

/* Estilos para el texto de botones */
button {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-secundary);
    background-color: var(--color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: var(--color-primary);
    }

    button.see-more {
        background-color: var(--color-primary);
    }

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el logo y el título */
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Espacio entre el logo y la estrella */
}

.sidebar-title {
    color: var(--color-light);
    margin-left: 20px; /* Ajusta el margen izquierdo del título */
    margin-bottom: 20px; /* Espacio entre el título y los elementos de la barra lateral */
    transition: opacity 0.3s ease-in-out;
}

.imagen {
    width: 100px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}
